<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
</head>
<body>
    <a href="/addcontact"> <input type="submit" value="Add Contact" class="btn btn-primary"> </a>
    <br>
    <br>
    <a href="/addbulkcontact"> <input type="submit" value="Add Bulk Contact" class="btn btn-primary"> </a>
</body>
</html>